.logo img{
    border-radius: 50%;
}

.banner {
    background-image: url(../assets/marolio-banner.jpg);
    background-position:center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
}


h1 {
    font-family: 'Georgia';
    text-shadow: 4px 4px 2px rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    
}

.conteinerCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 160px;
    width: 120px;
    background-color: #ececec;
    border: 1px solid grey;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
}

.card button{
    display: flex;
    margin: auto;
    position: relative;
    transition: .3s linear;
    cursor: pointer;

}

.btn:hover {
    background-color: green;
    box-shadow: 0 0 5px green, 0 0 25px green, 0 0 50px green;
    color:white
}



/* realtimeproducts */


h2 {
    border-top: 2px solid black;
    text-align: center;
}

.conteinerCardsRealTime{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.conteinerCardsRealTime button{
    display: flex;
    margin: auto;
    margin-top: 20px;
}

.cardRealTime {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    width: 120px;
    background-color: #ececec;
    border: 1px solid grey;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    min-width: 200px;
  
}

.cardRealTime p {
    font-size: 12px;
}



.pRuta{
    font-size: 20px;
    text-align: center;
    background-color: rgb(236, 238, 130);
}

/*PRODUCTS*/

/** -------------------- Products Page -------------------- **/

.section_products,
.section_cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section_cart {
    align-items: flex-start;
}

.section_products h1,
.section_cart h1 {
    font-size: 4rem;
    font-family: 'sf pro display';
}

.product_container {
    display: flex;
    gap: 2rem;
}

.button_detail a {
    color: var(--clr-blue);
    text-decoration: underline;
}

.prev-netxPage_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.prev-netxPage_buttons a {
    color: var(--clr-blue);
    text-decoration: underline;
}

.prev_page_notEnabled {
    color: var(--clr-grey);
    text-decoration: none;
    cursor: pointer;
}

.section_productDetail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.productDetail_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.addToCartBtn {
    color: var(--clr-blue);
    text-decoration: underline;
}

.cart_productList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}