<header>
    <nav class="navbar navbar-expand-md pe-5 ps-5 p-3 pb-0">
        <div class="container-fluid">
            <a class="navbar-brand logo"><img src="./assets/gato.jpg" href="http://localhost:8080" style="width: 150px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                <ul class="navbar-nav gap-3 fs-5">
                    <li class="nav-item">
                        <a class="nav-link p-0" href="http://localhost:8080">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-0" href="http://localhost:8080/realtimeproducts">RealTimeProducts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>